# * = name of you proyect, please replace
# Dependency and Build Directories
/volumes/

.env.*

# Log and Database Files
*.log
*.cache
*.sqlite
*.db
*.ibd
*.ib_logfile*

# IDE/System Files (optional)
.idea/
.vscode/
Thumbs.db
